* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f2f2f2;
}

header {
    background-color: #75a5ff;
    color: white;
    padding: 25px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 12px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #464040;
}
header h1 {
    font-size: 22px;
}

header input {
    padding: 8px;
    width: 250px;
    border-radius: 5px;
    border: none;
}


main {
    display: flex;
    padding: 20px;
}

.produtos {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card img {
    width: 80%;
    height: 210px;
    object-fit: cover;
    border-radius: 5px;
}

.card h3 {
    margin: 20px;
}

.card p {
    color: green;
    font-weight: bold;
}

.card h5 {
    margin: 20px;
    color: #000000;
}

.card button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background: #0056b3;
}


.carrinho {
    width: 30%;
    background: white;
    margin-left: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.carrinho h2 {
    margin-bottom: 10px;
}

.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 14px;
}

.item button {
    background: red;
    color: white;
    border: none;
    padding: 3px 6px;
    cursor: pointer;
    border-radius: 3px;
}

.total {
    margin-top: 10px;
    font-weight: bold;
}

.finalizar {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
