* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f6f6f6;
  color: #333;
}


.barra-pesquisa {
  background: #fff;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.barra-pesquisa input {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 15px;
}

.Categorias {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
 
}

.conteudo {
  padding: 20px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 70px;
}


.card {
  position: relative;
  height: 340px;
  border-radius: 8px;
  overflow: hidden;
  
}

.card img {
  width: 337px;
  height: 100%;
  object-fit: cover;
  display: block;
 
  
}


.tipo {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #fff;
  padding: 5px 10px;
  border-radius: 14px;
  font-size: 12px;
  font-weight: bold;
}


.detalhes {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.3s;
}

.card:hover .detalhes {
  opacity: 1;
}

.btn-detalhes {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 18px;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #f5f5f5;
  width: 90%;
  max-width: 900px;
  display: flex;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.modal-left {
  width: 50%;
}

.modal-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-right {
  width: 50%;
  padding: 25px;
}

.close {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 26px;
  cursor: pointer;
}

.comprar {
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  background: #111;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card.obra1 .titulo-obra {
  color: #2c7be5;
}

.card.obra2 .titulo-obra {
  color: #e83e8c;
}

.card.obra3 .titulo-obra {
  color: #ff9800;
}

.titulo-obra {
  font-size: 10px;
  margin-top: 15px;
  margin-left: 5px;
  color: #000000;
  opacity: 0.5;
  font-weight: 600;
}

p {
  margin-top: 10px;
  font-size: 12px;
}

h3 {
  margin-top: 10px;
}

h1 {
  margin-top: 20px;
}

