        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #ffffff;
        }

        .forma-pagamento {
            font-size: 32px;
            font-weight: bold;
            text-align: center;
            margin-top: 40px;
            margin-bottom: 20px;
            color: #75a5ff;
        }

        .form-container {
            width: 450px;
            margin: 0 auto;
            border: 1px solid #2079b0;
            padding: 25px;
            border-radius: 8px;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        }

        .form-container input,
        .form-container textarea {
            width: 100%;
            padding: 12px;
            border-radius: 20px;
            border: 1px solid #00e1ff;
            margin-bottom: 12px;
            outline: none;
            font-size: 15px;
        }

        .btns {
            display: left;
            justify-content: center;
            gap: 15px;
            margin-top: 10px;
        }

        .btns2 {
            display: flex;
            justify-content: center;
            gap: 15px;
            margin-top: 10px;
        }

        .btn {
            padding: 10px 22px;
            border-radius: 15px;
            cursor: pointer;
            border: none;
            font-size: 16px;
            font-weight: bold;
        }


        .confirmar {
            background-color: #67a3e9;
            color: white;
        }

        header {
            background: #75a5ff;
            color: white;
            padding: 15px 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        header h1 {
            font-size: 22px;
        }

        header input {
            padding: 8px;
            width: 250px;
            border-radius: 5px;
            border: none;
        }
